
    
    <ul class="nav navbar-nav navbar-right" th:fragment="access">
              <li><a href="/login" sec:authorize="!isAuthenticated()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/logout" sec:authorize="isAuthenticated()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    
     <!--  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> --> 
      
    </ul>
 