<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Customers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Azienda</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" ><a th:href="@{/}">Home</a></li>
 <!--    <li><a th:href="@{/centri}">All Center</a></li>
      <li><a th:href="@{'/addAttivita' + '/' + ${centro.id}}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Add new activity</a></li>
       -->  
    </ul>
    
      <div th:replace="fragments/header :: access"></div>
    
  </div>
</nav>

<div class="container">
  <h2>Aggiungi allievo a [[${attivita.name}]]</h2> 
  <table class="table table-striped">
    <thead>
     <tr>
									<th>Nome</th>
										<th>Cognome</th>
										<th>Email</th>
										<th>Telefono</th>
									<th>Data di nascita</th>
										
					
										
					
				</tr>
     
     
     
    </thead>
    <tbody>
    
    
        <tr th:each="allievo : ${allievi}">

								<td><span th:text="${allievo.name}"></span></td>
						<td><span th:text="${allievo.surname}"></span></td>
					<td><span th:text="${allievo.email}"></span></td>
					<td><span th:text="${allievo.phone}"></span></td>
					<td><span th:text="${allievo.dateOfBirth}"></span></td>
	<td><a class="btn btn-primary" th:inline="text" th:href="@{'/addAllievo/'+${attivita.id}+'/'+${allievo.id}}">Aggiungi a [[${attivita.name}]]</a>	</td>
											
                </tr>
												
			 
											
			
    </tbody>
  </table>
  
  
     <a th:href="@{'/allievi/'+${attivita.id}}" class="btn btn-primary eBtn">Indietro</a>
  

  </div>
 


 
  
</body>
</html>
