<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <!--   <a class="navbar-brand" th:href="@{'/attivita' + '/' + ${attivita.id}}" th:text="${attivita.name}"></a> --> 
    </div>
 </div>
</nav>




<div class="container">

	<div>
		<h4 class="title" th:inline="text">Registra un nuovo allievo a [[${centro.name}]]</h4>
		<!--  <p th:text="${exists}"></p>  -->
	</div>
	<form th:action="@{'/saveAllievoToCentro/'+${centro.id}}" method="POST" th:object="${allievo}">
		<table>
		
		
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{name}" /></td>
			<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>  
			</tr>
			
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{surname}" /></td>
	 		<td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></td>  
			</tr>
			
					<td>Email:</td>
				<td><input type="text" th:field="*{email}" /></td>
		<!--  		<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>  -->
			</tr>
			
			
					<td>Telefono:</td>
				<td><input type="text" th:field="*{phone}" /></td>
		<!--  		<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>  -->
			</tr>
			
			
					<td>Data di nascita:</td>
				<td><input type="date" th:field="*{dateOfBirth}" /></td>
		  		<td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></td> 
			</tr>
			
			 
	<!--  		<tr>
					<td>Centro:</td>
				<td><span th:text="${centro.name}"></td>
			
			</tr>
		-->
			

			<tr>
				<td><button type="submit" class="btn btn-primary">Registra</button>
				<a th:href="@{'/allieviCentro/'+${centro.id}}">Indietro</a>
				</td>
			</tr> 
		</table>
	</form>
	
	
	</tr>
			
			
	</div>
</body>
</html>