<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">

 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/}">Azienda</a>
    </div>
 </div>
</nav>


<div class="container">

	<div>
		<h4 class="title" th:inline="text">Inserisci attivita nel centro "[[${centro.name}]]"</h4>
		  
	</div>
	<form th:action="@{'/saveAttivita/'+${centro.id}}" method="POST" th:object="${attivita}">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{name}" /></td>
		 		<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>  
		 		 <td th:text="${exists}"></td> 
			</tr>
			
			<tr>
				<td>Data:</td>
				<td><input type="date" th:field="*{date}" /></td>
	  		<td th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></td>  
			</tr>
			
					<td>Orario:</td>
				<td><input type="time" th:field="*{hour}" step="300" min="07:00:00" max="20:00:00"/></td>
				<td th:if="${#fields.hasErrors('hour')}" th:errors="*{hour}"></td>  
			</tr>
			
			</tr>
			
			</tr>
		
			

			<tr>
				<td><button class="btn btn-primary eBtn"  type="submit">Aggiungi</button>
				<a th:href="@{'/attivita/'+${centro.id}}" >Annulla</a>
				</td>
			</tr> 
		</table>
	</form>
	   
	
	</div>
</body>
</html>