<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">


 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>



 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/centri">Centro Formazione</a>
    </div>
 </div>
</nav>



<div class="container">



	<div>
		<h4 class="title">Insert Centro</h4>
	</div>
	<form th:action="@{/saveCentro}" method="POST" th:object="${centro}">
		<table>
		
	
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{name}" /></td>
			<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td> 
						<td th:text="${exists}"></td>  
			 
			</tr>
			
			<tr>
				<td>Address:</td>
				<td><input type="text" th:field="*{address}" /></td>
				<td th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>  
			</tr>
			
			<tr>
					<td>Email:</td>
				<td><input th:field="*{email}" 
				
				type="email" placeholder="this@email.com"
				 pattern=".+@.+\.[a-z]{2,4}$" 
           title="Email uncorrect" /></td>
		 		<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>  
			</tr>
			
			<tr>
					<td>Phone:</td>
				<td><input type="tel" th:field="*{phone}"  
           placeholder="+39" pattern="[0-9]{2}[0-9]{4}[0-9]{3}"/></td>
	 		<td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>  
			</tr>
			
			<tr>
					<td>NumAllMax:</td>
				<td><input   type="number" min="0" th:field="*{numMaxAllievi}"    /></td>
	 <!-- 	<td th:if="${#fields.hasErrors('NumMaxAllievi')}" th:errors="*{NumMaxAllievi}">Incorrect</td>      -->
			</tr>
			
	
	<tr>
				<td> <input type="submit" class="btn btn-primary" value="Save" /> </td>
				<td><a th:href="@{/centri}" >Cancel</a></td>
			</tr> 
		</table>
	</form>
	
	</div>
</body>
</html>