<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Azienda</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/}" th:fragment="home_button">Home</a></li>
      <li><a th:href="@{/centri}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Tutti i centri</a></li>
            <li><a th:href="@{/responsabileCentro}" th:if="${#authorization.expression('hasRole(''ADMIN_CENTER'')')}">Mio centro</a></li>
      
                  <li><a  th:href="@{/allAllievi}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Lista di tutti gli allievi</a></li>
      
    </ul>
    
          <div th:replace="fragments/header :: access"></div>
    
   
	</div>
</nav>	
	
<div class="container">
  <h3>Benvenuti!</h3>
  <p>Questa azienda propone molti corsi di formazione che si svolgono in diversi centri.</p>
  
</div>




</body>
</html>