<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Customers</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	  <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
</head>
<body>

    
<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Azienda</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/}" th:fragment="home_button">Home</a></li>
            <li><a th:href="@{/addCentro}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Aggiungi nuovo centro </a></li>
      
      
    </ul>
    
          <div th:replace="fragments/header :: access"></div>
    
   
	</div>
</nav>	
	

	
	
<div class="container">
  <h2>Elenco dei centri</h2>
        
  <table class="table table-striped">
    <thead>
     <tr>
     										<th>id</th>
     
					<th>Nome</th>
										<th>Indirizzo</th>
										<th>Email</th>
										<th>Telefono</th>
								<th>Numero massimo di allievi</th>
										
					
				</tr>
     
     
     
    </thead>
    <tbody>
    
    
        <tr th:each="centro : ${centri}">
						<td><span th:text="${centro.id}"></span></td>

			<td><a th:href="@{'/attivita/' +${centro.id}}"><span th:text="${centro.name}"></span></a></td>
						<td><span th:text="${centro.address}"></span></td>
												<td><span th:text="${centro.email}"></span></td>
												<td><span th:text="${centro.phone}"></span></td>
												<td align="center"><span th:text="${centro.numMaxAllievi}"></span></td>
												    
												
											
			<td>	 <a  th:href="@{delete/(id=${centro.id})}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="btn btn-danger delBtn" >Elimina</a>
		<!--   <a  th:href="@{findOne/(id=${centro.id})}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="btn btn-primary eBtn" >Modifica</a> -->	
			</td>
			 
			 
			
                </tr>
      
      
      
    </tbody>
  </table>
  
        <a th:href="@{/}" class="btn btn-primary">Indietro</a>
  		           <a th:href="@{/addCentro}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:inline="text">Aggiungi un nuovo centro </a>
  		
    
</div>

  
  
  <div class="myForm"  >
   <form th:action="@{/save}" method="post">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update or create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <div class="form-group">
            <label for="id" class="col-form-label" >Id:</label>
                        <input type="text" readonly="readonly"  class="form-control" id="id" name="id" value="" />
            
          </div>
          
       
          <div class="form-group">
            <label for="name" class="col-form-label">Nome:</label>
            <input type="text" class="form-control" id="name" name="name" value="" />
          </div>
          
            <div class="form-group">
            <label for="address" class="col-form-label">Indirizzo:</label>
            <input type="text" class="form-control" id="address" name="address" value="" />
          </div>
          
            <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" placeholder="this@email.com"
				 pattern=".+@.+\.[a-z]{2,4}$" 
           title="Email uncorrect" class="form-control" id="email" name="email" value="" />
          </div>
          
            <div class="form-group">
            <label for="phone" class="col-form-label">Telefono:</label>
            <input type="tel" placeholder="+39" pattern="[0-9]{2}[0-9]{4}[0-9]{3}" class="form-control" id="phone" name="phone" value="" />
          </div>
          
            <div class="form-group">
            <label for="numMaxAllievi" class="col-form-label">Numero massimo di allievi:</label>
            <input type="number" class="form-control" min="0" id="numMaxAllievi" name="numMaxAllievi" value="" />
          </div>
          
          
         
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <input type="submit" class="btn btn-primary" value="salva"/>
        
        
      </div>
    </div>
  </div>
</div>
  
  
  
   </form>
  
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Elimina Centro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="alert alert-danger">Vuoi eliminare il centro ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <a href="" class="btn btn-danger" id="delRef">Elimina</a>
      </div>
    </div>
  </div>
</div>
  
  
    
  
</body>
</html>
