<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Attivita</title>
          <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
  
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Azienda</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" ><a th:href="@{/}">Home</a></li>
 <li><a th:href="@{'/allieviCentro/'+${centro.id}}" th:inline="text">Elenco allievi di [[${centro.name}]]</a></li>
      <!--    <li><a th:href="@{'/addAttivita' + '/' + ${centro.id}}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">Add new activity</a></li>
       -->  
    </ul>
    
      <div th:replace="fragments/header :: access"></div>
    
  </div>
</nav>

<div class="container">
  <h2 th:inline="text">Elenco delle attività di [[${centro.name}]]</h2> 
  <table class="table table-striped">
    <thead>
     <tr>
									<th>Nome dell'attività</th>
										<th>Data evento</th>
										<th>Orario</th>
										
					
				</tr>
     
     
     
    </thead>
    <tbody>
    
    
        <tr th:each="attivita : ${activities}">

			<td>
			
<a th:href="@{'/allievi' + '/' + ${attivita.id}}"   ><span th:text="${attivita.name}" ></span></a>
		
		
		</td>
						<td><span th:text="${attivita.date}"></span></td>
					<td><span th:text="${attivita.hour}"></span></td>
	 
									<td>	
									
		<!-- 	 <a  th:href="@{'/findOneAttivita/'+${attivita.id}}" class="btn btn-primary eBtn2" >Edit</a>  -->
		 	  <a  th:href="@{'/deleteAttivita/'+${attivita.id}}" class="btn btn-danger delBtn" >Elimina</a>
			
			</td>
											
                </tr>
												
			 
											
			
    </tbody>
  </table>
  

     
     
      <a th:href="${#authorization.expression('hasRole(''ADMIN'')')}?@{/centri}:@{/responsabileCentro}" class="btn btn-primary eBtn">Indietro</a>
            <a th:href="@{'/addAttivita/'+${centro.id}}" th:inline="text">Aggiungi nuova attività a [[${centro.name}]] </a>
      
  
  </div>
  
    
  <div class="myForm"  >
   <form th:action="@{/saveAttivita}" method="post">
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update or create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <div class="form-group">
            <label for="id" class="col-form-label" >Id:</label>
                        <input type="text" readonly="readonly"  class="form-control" id="id" name="id" value="" />
            
          </div>
          
       
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="" />
          </div>
          
            <div class="form-group">
            <label for="date" class="col-form-label">Date:</label>
            <input type="text" class="form-control" id="date" name="date" value="" />
          </div>
          
            <div class="form-group">
            <label for="hour" class="col-form-label">Hour:</label>
            <input type="text"  step="300" min="07:00:00" max="20:00:00"
             class="form-control" id="hour" name="hour" value="" />
          </div>
          
          <div class="form-group">
            <label for="centerName" class="col-form-label">Center Name:</label>
            <input type="text"  
             class="form-control" id="center" name="center" readonly="readonly" value="" />
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <input type="submit" class="btn btn-primary" value="salva"/>
        
        
      </div>
    </div>
  </div>
</div>
  
  
  
   </form>
  
  </div>
  
  
  
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Elimina attività</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="alert alert-danger">Vuoi eliminare questa attività?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
        <a href="" class="btn btn-danger" id="delRef">Elimina</a>
      </div>
    </div>
  </div>
</div>
  
  
  
 

</body>
</html>
