<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Customers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
  
</head>

<body>

<nav class="navbar  navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Azienda</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" ><a th:href="@{/}">Home</a></li>
 
    </ul>
    
      <div th:replace="fragments/header :: access"></div>
    
  </div>
</nav>

<div class="container">
  <h2 th:inline="text">Elenco degli allievi iscritti a [[${attivita.name}]]</h2> 
 
  <table class="table table-striped">
    <thead>
     <tr>
									<th>Nome</th>
										<th>Cognome</th>
										<th>Email</th>
										<th>Telefono</th>
									<th>Data di nascita</th>
										
							
					
				</tr>
     
     
     
    </thead>
    <tbody>
    
    
        <tr th:each="allievo : ${allievi}">

								<td><span th:text="${allievo.name}"></span></td>
		
						<td><span th:text="${allievo.surname}"></span></td>
					<td><span th:text="${allievo.email}"></span></td>
					<td><span th:text="${allievo.phone}"></span></td>
					<td><span th:text="${allievo.dateOfBirth}"></span></td>
									
		<td>	 	  <a  th:href="@{'/deleteAllievo/'+${allievo.id}+'/'+${attivita.id}}" class="btn btn-danger delBtn" >Elimina</a>  </td>
											
                </tr>
												
			 
											
			
    </tbody>
  </table>
  
   <a th:href="@{'/attivita/'+${attivita.centro.id}}" class="btn btn-primary eBtn">Indietro</a>
<a  th:inline="text" th:href="@{'/allAllievi/'+${attivita.id}}">Aggiungi allievo a [[${attivita.name}]]</a>	

  </div>
 
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="alert alert-danger" th:inline="text">Sei sicuro di cancellare l'allievo da "[[${attivita.name}]]"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="" class="btn btn-danger" id="delRef">Elimina</a>
      </div>
    </div>
  </div>
</div>
  

 
  
</body>
</html>
